* {
    box-sizing: border-box;
}

header {
    background-color: green;
    color:white;
    font-size: 35px;
    padding: 30px;
    text-align: center;
}

.nav {
    text-align: center;
    background-color: gray;
    margin: 0;
}

.nav li {
    font-size: 15px;
    padding: 20px;
    display: inline-block;
}

.sidebar {
    background-color: black;
    float: left;
    width: 20%;
    margin: 0;
}

.sidebar li{
    padding: 20px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: tomato;
}

a:active {
    color: green;
}

img {
    width: 500px;
    height: 500px;
}

.description {
    height: 300px;
    background-color: gray;
    padding: 10px;
    overflow: auto;
}

.content {
    float: right;
    width: 80%;
    padding: 20px;
    line-height: 30px;
}

section::after {
    content: '';
    clear: both;
    display: block;
}

footer {
    background-color: rgb(88,88,88);
    color: white;
    text-align: center;
    line-height: 20px;
    padding: 20px;
    font-size: 10px;
}

footer:first-line {
    font-size: 15px;
    line-height: 25px;
}
